body {
    font-family: 'Nunito', Arial, sans-serif;
    background-color: lightgray;
    text-align: center;
  }


  header {
      display: flex; 
      justify-content: space-between;
      flex-direction: row;

  }


  ul , li .tab { 

      display: flex ;
      align-items: center ;
      flex-direction: row ;
      justify-items: space-around ; 
      list-style-type: none ;
  
  }

 //* .Im  { 

    display: grid;
    grid-template-columns: 100%;


     
  }*//



.container {

    padding: 20px;
    /*width: 1000px;*/
    

}


.item { 

      width: 100%;
      height: 300px;
      background-image: url(../Week3/melbourne.jpg);
      background-size: cover;
      

      color: white;
      padding: 70px 70px 0px 0px;

}

.bottom { 
    color:white;
    background: red;
    display: inline;
    padding: 10px 25px 10px 25px;
   
}

.






  

  




   