body {
    background-color: rgb(238, 245, 245);
    text-align: center;
}

  
h1, p {
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(83, 81, 81);
}

p{ font-size: 14px;}
h1 { padding-top: 30px;
 }



.container {
   
    position: relative;
    text-align: center;
    margin: 8px;
    display: inline;

    
}

.San, .new, .lon, .nap, .son, .SAN{
   
   position: absolute;
   top:-700%;
   left:30%;
   transform: translate (-50%,-50%);
   color: white;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
}

img{

    margin-top: 40px;
    margin-bottom: 40px;
}

.block { 
     
    
    display: inline;
    background-color:  white;
    border: 0.5px solid black; 
    padding: 5px;
    padding-right: 50px;
    padding-left: 50px;
    color: rgb(83, 81, 81);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
  
}

