h1{
    color: gray;
}

.main { 
    margin: 3px;
}
 
h2 {
    color: darkslategrey; 
}

p {
    color: gray;
} 

.blu{ 
    color: blue;
}
.block { 
    display: block;
    color:blue;
}

.con { 
    margin-top: 30px;
    
    border: 4px solid gray;
    display: inline;
    
}